:root{
    
}

*{
    box-sizing: border-box;
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,body{
    position: relative;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    /* font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; */

    background-color: #f4efec;
}

.header_wrap{
    position: relative;

}

.section{
    width: 100%;
    margin:0;
    position: relative;
    padding:0em 6em;
}

#p1{

}

.nav_bar{
    position: relative;
    padding: 3em 7em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nav_wrap_logo{
    margin: 0 1.25em;
    -webkit-box-flex: 1;
    -webkit-flex:1 1 0px;
    flex:1 1 0px;
}
.nav_wrap{
    
}
.nav_socials{
    text-align: right;
    margin-left:auto;
    -webkit-box-flex: 1;
    -webkit-flex:1 1 0px;
    flex:1 1 0px;
    display:flex;
    flex-direction: row-reverse;
}
.main_nav_list{
    display: flex;
    flex-direction: row;
    align-items: center;

}

a > * {
    margin:0;
}

.header_nav_element{
    margin: 0 1em;
}

.header_nav_element > a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    letter-spacing: 2.5px;
    font-weight: 500;
}

#insta{
    width: 1.25em;
    align-items: center;
    display: flex;
}

#logo{
    width: 6em;
    align-items: center;
    display: flex;
}

.gallery_cont{
    padding: 0 10em;
    box-sizing: border-box;

}

.img_group > div {
    display: grid;
}

.img_group{
    width: 100%;
    display: flex;
    overflow: hidden;

}

.disp_img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.img_wrapper{
    padding: 1em;
}

.landscape{
    width: 58%;
}

.portrait{
    width: 42%;
}

#portsp{
    padding: 8em 0;
}

#landsp{
    padding: 4em 0;
}


#smaller_land{
    display: flex;
}










.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 1em;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 1em;
  }
  
  .column img {
    margin-top: 2em;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
    .nav_bar{
        padding: 1em 2em;
    }
    .section{
        padding: 0 1em;
    }

    #logo{
        width: 5em;
    }

    .header_nav_element > a {
        font-size: 1.0em;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    .section{
        padding: 0 1em;
    }

    #logo{
        width: 4em;
    }
    .header_nav_element > a {
        font-size: 0.9em;
    }
  }