:root{
    
}

*{
    box-sizing: border-box;
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,body{
    position: relative;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    /* font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; */

    background-color: #f4efec;
}











.header_wrap{
    position: relative;

}

.section{
    width: 100%;
    margin:0;
    position: relative;
    padding:0em 2em;
}

#p1{

}

.nav_bar{
    position: relative;
    padding: 3em 3em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nav_wrap_logo{ 
    -webkit-box-flex: 1;
    -webkit-flex:1 1 0px;
    flex:1 1 0px;
}
.nav_wrap{
    
}
.nav_socials{
    text-align: right;
    margin-left:auto;
    -webkit-box-flex: 1;
    -webkit-flex:1 1 0px;
    flex:1 1 0px;
    display:flex;
    flex-direction: row-reverse;
}
.main_nav_list{
    display: flex;
    flex-direction: row;
    align-items: center;


}

a > * {
    margin:0;
}

.header_nav_list{
    margin: 0 1em;
    display: block;
    position: relative;
    -webkit-user-select: none;
    user-select: none;

}

.header_nav_list > a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    letter-spacing: 2.5px;
    font-weight: 500;
}
.header_nav_list > a:hover {
    text-decoration: none;
    color: #2e335c;
    font-size: 0.9em;

}

/*NAV BAR UPDATE */

.header_nav_element{
    display: block;
    position: relative;
    -webkit-user-select: none;
    user-select: none;

}

.header_nav_element > a{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    letter-spacing: 2.5px;
    font-weight: 500;

}

.header_nav_element input
{
  display: none;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

.header_nav_element > span{

    display: none;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 2px;
    background: rgb(80,80,80);
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
}

.header_nav_element span:first-child
{
  transform-origin: 0% 0%;
  
}

.header_nav_element span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
 .header_nav_element input:checked ~ span
{
  opacity: 1;
  transform: rotate(-45deg) translate(0px, -2px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
 .header_nav_element input:checked ~ span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.header_nav_element input:checked ~ span:nth-last-child(3)
{
  transform: rotate(45deg) translate(0, -2px);
}



#insta{
    width: 1.25em;
    align-items: center;
    display: flex;
}

#logo{
    width: 6em;
    align-items: center;
    display: flex;
}

.gallery_cont{
    padding: 0 10em;
    box-sizing: border-box;

}

.img_group > div {
    display: grid;
}

.img_group{
    width: 100%;
    display: flex;
    overflow: hidden;

}

.disp_img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.img_wrapper{
    padding: 1em;
}

.landscape{
    width: 58%;
}

.portrait{
    width: 42%;
}

#portsp{
    padding: 8em 0;
}

#landsp{
    padding: 4em 0;
}


#smaller_land{
    display: flex;
}










.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 1em;
  }
  
  .column img {
    margin-top: 2em;
    vertical-align: middle;
    width: 100%;
  }

.img-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.85);
    z-index: 2 ;
    display:flex;
    align-items: center;
    top:-100%;
    transition: top 0.5s;
}
.img-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0 ;
}

.arrow{
    padding: 3em;
    cursor: pointer;
}

.img-container > img{
    max-width: 100%;
    width: auto; 
    max-height: 100%; 
    
}

#close_modal{
    position: absolute;
    top:1em;
    right:3em;
    cursor: pointer;
}



  /* MODAL */

  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
    .nav_bar{
        padding: 2em 2em;
    }
    .section{
        padding: 0 1em;
    }

    #logo{
        width: 5em;
    }

    .header_nav_element > a {
        font-size: 1.0em;
    }
  }

  footer{
    padding: 2em 3em;
    text-align: center;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 680px) {
    
    .nav_bar{
        padding: 2em 2em;
    }
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    .section{
        padding: 0 1em;
    }

    #logo{
        width: 5em;
    }
    .header_nav_element > a {
        display: none;
    }

    .header_nav_element input{
        display: block;
    }

    .header_nav_element span{
        display: block;
    }

    .nav_wrap_logo{
        z-index: 2;
    }

    .nav_wrap{

        position: fixed;
        width: 100%;
        height: 100%;
        background:white;
        z-index: 1;
        margin:0;
        top:-100%;
        left:0;
        padding: 1em;
        transition:top 1s;
        
    }
    .main_nav_list{
        display:block;
        position: relative;
        
        margin:auto 0;
        margin-top:8em;
        text-align: center;

    }

    .header_nav_list {
        padding: 1em;
    }


    body:has(input:checked) .nav_wrap
    {
        display:block;
        top:0;
        transition:top 1s;
    
    }
    .arrow{
        z-index: 5;
        padding: 1em;
    }
    #close_modal{
        right:1em;
        z-index: 6;
    }
    .img-modal{
        z-index: 3;
        justify-content: space-between;
    }
    .img-container{
        width: 100%;
        height: 100%;

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3em 1em;
        z-index: 3;
        
    }

    .img-container > img{
        /* height: fit-content;
        width: 100%; */
    }


  }



  